@page
@model LaptopCornor.Pages.HPLap.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HP</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HP.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HP.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HP.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HP.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HP.specification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HP.specification)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HP.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
